<form action="/add" method="post">
    <h2 align="center">Create todo</h2>

    <div class="input-field s6"> 
        <input type="text" name="title" required>
        <label>New todo</label>
    </div>

    <button class="btn" type="submit">Create</button>
</form>